body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

nav {
    padding: 20px;
    text-align: right;
    margin:50px;
}

nav a {
    color: #1c1c1c;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

nav .logo {
    float: left;
    text-decoration: none;
}

.first {
    color: #1c1c1c;
    text-align: center;
    margin: 90px;
}

.biggerfont {
    font-size: 30px;
}

.banner {
    background-image: url(image1.jpg);
    background-size: contain;
    height: 50vh;
    background-position-x: center;
}

.second {
    text-align: center;
    margin: 30px;
}

.list {
    text-align: left;
}

footer {
    color: #1c1c1c;
    text-align: center;
    margin: 30px;
}

.fa {
    padding: 20px;
    font-size: 300px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #1c1c1c;
    color: white;
}

.fa-twitter {
    background: #1c1c1c;
    color: white;
}

.fa-instagram {
    background: #1c1c1c;
    color: white;
}

.yogurtoptions {
    background-color: pink;
    color: blue;
    color: purple;
    margin: 50px;
}
.contact-info {
    font-family: Arial, sans-serif;
    background-color: #F9F6F2;
    margin: 0;
    padding: 20px;
}
.contact-label {
    font-weight: bold;
    color: purple;
    display: block;
    margin-bottom: 10px;
  }

  .contact-info {
    background-color: pink;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 40px;
  }
  .h1 {
    color: purple;
    text-align: center;
    margin-bottom: 40px;
  }
  .center {
    margin: 50px;
    text-align: center;
  }
  .center1 {
    text-align: center;
  }
  .center2 {
    text-align: center;
  }
  .yummyyogurt {
    background-color: pink;
    padding: 20px;
  }

  